body{
    background-color: #eff780;
    min-height: 500px;
    min-width: 500px;
}
.menu{
    background-color: rgb(20, 114, 138);
    font-size: 40px;
    width: 98vw;
    height: 100px;
    margin-top: 10px;
}
.menu a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-align: center;
    display: block;
    padding: 20px;
    border-right: 5px solid #000000;
}
.menu a:hover{
    background-color: rgb(12, 19, 114);
}
.real-content p{
    font-size: 20px;
}
.info{
    display: flex;
    justify-content: center;
    
}
.content {
    display: flex;
    align-items: center;
    justify-content: center;
}
.content div.real-content{
    color:rgb(14, 14, 19);
}
.content tr td.colors{
    background-color: aqua;
}
.content tr td{
    background-color: aliceblue;
}

.contact{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.contact span{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-weight: 400;
}
.contact input{
    width: 100%;
    border-radius: 20px;
}
.contact textarea{
    width: 100%;
    height: 300px;
    resize: none;
    border-radius: 20px;
    text-align: center;
}
.contact button.send{
    
    border: 5px solid #000000;
    color: #000000;
    background-color: aqua;
    margin: auto;
    text-align: center;
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
img.right-image{
    float: right;
    width: 40vw;
    margin: 10px;
}
img.left-image{
    float: left;
    width: 40vw;
    margin: 20px;
}
img.left-image2{
    width: 20vw;
    float: left;
    margin: 20px;
}

.icon{
    width: 6vw;
    height: 8vh;
}
li{
    font-size: 25px;
}
.test-block{
    width: 200px;
    border: 2px solid rgba(71,236,30,1);
    background: rgba(71,236,30,0.7);
    text-align: center;
    color: #000;
    padding: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    

}





